.mainChat
  .mainChat__groupInfo
    .text
      test
      .memberName
        Member:test
    .edit
      edit

  .mainChat__messageList
    .groupChat
      .groupChatname
      test
      .times
      0000/00/00( ) 00:00:00
    
    .groupText
      message

    .groupChat
      .groupChatname
      test
      .times
      0000/00/00( ) 00:00:00
    
    .groupText
      message

  .mainChat__messageForm
    .mainChat__messageForm__text
      -# %form.new_message
      .input-box
        %input{type: "text" , class: "input-box__text" , placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file" , class: "input-box__file"}
      %input{type: "submit" , class: "submit-btn"}