.mainChat
  .mainChat__groupInfo
    .text
      test
      .memberName
        Member:test
    .edit
      edit

  .mainChat__messageList
    .groupChat
      .groupChatname
      test
      .times
      0000/00/00( ) 00:00:00
    
    .groupText
      message

    .groupChat
      .groupChatname
      test
      .times
      0000/00/00( ) 00:00:00
    
    .groupText
      message

  .mainChat__messageForm
    .mainChat__messageForm__text
      .text
        type a message
      .image
        = icon('fas', 'image')
    .mainChat__messageForm__form_submit
      Send
