.sideBar
  .sideBar__user
     
    .sideBar__user__userbox
      .name
        test
      .botton
        = icon('fas', 'edit')
        = icon('fas', 'cog')
  
  .sideBar__groupList
    .sideBar__groupList__groupName
      グループ名

    .sideBar__groupList__groupMessage
      テキスト
    .sideBar__groupList__groupName
      グループ名

    .sideBar__groupList__groupMessage
      テキスト