* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}


.sideBar{
  background-color: white;
  width: 300px;
  height: 100vh;
  &__user{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__userbox{
      background-color: #253141;
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      .name{
        color: #ffffff;
        font-size: 16px;
      }
      .botton{
        width: 60px;
        color: #ffffff;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__groupList{
    background-color: #2f3e51;
    height: calc(100% - 100px);
    &__groupName{
      width: 260px;
      font-size: 15px;
      color: #ffffff bold;
      padding: 20px 20px 5px 20px;
    }
    &__groupMessage{
      width: 260px;
      font-size: 11px;
      padding: 0px 20px 40px 20px;
    }
  }
  &__groupName{
    width: 260px;
    font-size: 15px;
    padding: 20px 20px 5px 20px;
  }
  &__groupMessage{
    width: 260px;
    font-size: 11px;
    padding: 0px 20px 40px 20px;
  }
}


.mainChat{
  background-color: white;
  width: calc(100vw - 300px);
  height: 100vh;
  &__groupInfo{
    background-color: #ffffff;
    height: 100px;
    border: #eeeeee solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text{
      font-size: 20px;
      color: #333333;
      padding: 35px 0 0 40px;
      .memberName{
      font-size: 12px;
      color: #999999;
      padding: 15px 0 0 0;
      }
    }
    .edit{
      color: #38aef0;
      font-size: 16px;
      border: solid 1px;
      margin: 0 40px 0 0;
      padding: 7px 0 7px 0;
    }
  }
  &__messageList{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    .groupChat{
      display: flex;
      .groupChatname{
      font-size: 16px;
      color: #333333;
      padding: 35px 0 12px 40px;
      }
      .times{
        font-size: 12px;
        color: #999999;
      }
    }
    .groupText{
      font-size: 14px;
      color: #434a54;
      padding: 0 0 46px 40px;
    }

    .groupChat{
      display: flex;
      .groupChatname{
      font-size: 16px;
      color: #333333;
      padding: 35px 0 12px 40px;
      }
      .times{
        font-size: 12px;
        color: #999999;
      }
    }
    .groupText{
      font-size: 14px;
      color: #434a54;
      padding: 0 0 46px 40px;
    }
  }
  &__messageForm{
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 40px;
    .mainChat__messageForm__text{
      background-color: white;
      display: inline-flex;
      justify-content: space-between;
      width: 100vw;
      .text{
        color: #d2d2d2;
        padding: 0 0 0 10px;
        
      }
      .image{
        padding: 0 10px 0 0;
      }

    }
    .mainChat__messageForm__form_submit{
      color: #fff;
      background-color: #38aef0;
      font-size: 16px;
      padding: 0 0 0 15px;
    }
  }
}